apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hrmitra.fullname" . }}-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "hrmitra.fullname" . }}-db
  template:
    metadata:
      labels:
        app: {{ include "hrmitra.fullname" . }}-db
    spec:
      containers:
        - name: postgres
          image: {{ .Values.postgres.image }}
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: {{ .Values.postgres.user }}
            - name: POSTGRES_PASSWORD
              value: {{ .Values.postgres.password }}
            - name: POSTGRES_DB
              value: {{ .Values.postgres.db }}
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: {{ include "hrmitra.fullname" . }}-db-pvc
