services:
  - type: web
    name: HR-mitra-web
    env: docker
    repo: https://github.com/rudra1819/HR-mitra
    branch: main
    dockerfilePath: ./Dockerfile
    autoDeploy: true

    envVars:
      - key: RAILS_ENV
        value: production
      - key: RAILS_SERVE_STATIC_FILES
        value: "true"
      - key: RAILS_LOG_TO_STDOUT
        value: "true"
      - key: SECRET_KEY_BASE
        sync: false
      - key: RAILS_MASTER_KEY
        sync: false

databases:
  - name: hrmitra-db
    plan: free
