


<div class="btn-group">
  <a href="<%= about_us_path %>" class="btn btn-primary active" aria-current="page">about-us link</a>
  <a href="<%= contact_us_path %>" class="btn btn-primary">contact-us</a>
  <a href="<%= privacy_policy_path %>" class="btn btn-primary">privacy-policy</a>
</div>